<div class="main-contact-block">
  <div class="personal-info-block">
    <label>Valeriia Drozd</label>
    <label>Frontend Angular Developer</label>
    <img src="/assets/my-photo.jpg" />
  </div>
  <div class="app-info-block">
    <div class="header-block">
      <label>More information below</label>
      <mat-icon fontIcon="arrow_downward"></mat-icon>
    </div>
    <div class="techonogies-block">
      <span>
        This application was created using innovation technologies in web
        development</span
      >
      <div class="github-block">
        <span>You can also look for code in my Github repository</span>
        <a
          href="https://github.com/ValeryDrozd/restaurant-menu-app"
          target="_blank"
        >
          <img src="/assets/github-logo.svg" />
        </a>
      </div>
      <div class="logo-block">
        <a href="https://angular.io/docs" target="_blank"
          ><img src="/assets/angular-logo.svg"
        /></a>
        <a href="https://www.typescriptlang.org/docs/" target="_blank"
          ><img src="assets/typescript-logo.svg"
        /></a>
        <a href="https://rxjs.dev/guide/overview" target="_blank">
          <img src="assets/rxjs-logo.svg" />
        </a>
        <a href="https://ngrx.io/docs" target="_blank">
          <img src="assets/ngrx-logo.svg" />
        </a>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML"
          target="_blank"
        >
          <img src="assets/html-logo.svg" />
        </a>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS"
          target="_blank"
        >
          <img src="assets/css3-logo.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
