.card-block {
  width: 20rem;
  height: 28rem;
  margin: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
  }
  &.card-without-buttons {
    height: 25rem;
    .price-value {
      margin-bottom: 2rem;
    }
  }
}

mat-card-header {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  color: white;

  &.title {
    min-height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & mat-card-title {
      font-size: 1.5rem;
    }
  }
  &.price-value {
    margin-top: auto;
    margin-bottom: 1rem;
  }
}

mat-card-subtitle {
  text-align: center;
  margin-top: 0.5rem;
}

button {
  mat-icon {
    margin-right: 0;
    color: rgb(192, 192, 192);
    transition: color 0.3s ease;
  }

  &:hover mat-icon {
    color: white;
  }
}

.picture {
  width: 10rem;
  height: 10rem;
  border: 1px solid white;
  object-fit: cover;
}
