<mat-card class="card-block">
  <mat-card-header class="title">
    <mat-card-title>{{ dish.name }}</mat-card-title>
  </mat-card-header>
  <img class="picture" [src]="dish.image ?? '/assets/default-picture.jpeg'" />
  <mat-card-subtitle
    >{{ !dish.description ? "Try something unusual!" : dish.description }}
  </mat-card-subtitle>
  <mat-card-header class="price-value">{{ dish.price + " ₴" }}</mat-card-header>
  <mat-card-actions>
    <button (click)="openEditDishDialog()" mat-button>
      <mat-icon fontIcon="edit_square"></mat-icon>
    </button>
    <button mat-button><mat-icon fontIcon="delete"></mat-icon></button>
  </mat-card-actions>
</mat-card>
