<div class="dishes-list">
  <div class="add-new-element-block" *ngIf="authService.admin">
    <div>
      <mat-card (click)="openEditCategoryDialog()">
        <mat-icon fontIcon="edit_square"></mat-icon>
      </mat-card>
      <mat-card (click)="onCategoryRemoved()">
        <mat-icon fontIcon="delete"></mat-icon>
      </mat-card>
    </div>
    <mat-card (click)="openNewDishDialog()">
      <mat-icon fontIcon="add_to_photos"></mat-icon>
    </mat-card>
  </div>
  <app-dish-card
    (dishRemove)="onDishRemoved($event)"
    (dishUpdate)="onDishUpdated($event)"
    [dish]="dish"
    *ngFor="let dish of dishes"
  ></app-dish-card>
</div>
