.dishes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3rem;
}

.add-new-element-block {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 28rem;
  margin: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;

  & mat-card {
    width: 20rem;
    height: 13.5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
      & mat-icon {
        color: white;
      }
    }

    & mat-icon {
      transition: color 0.3s ease;
      transform: scale(2);
      color: rgb(192, 192, 192);
    }

    &:last-child {
      margin-top: auto;
    }
  }

  & > div {
    display: flex;
    gap: 1rem;
    & mat-card {
      width: 9.5rem;
    }
  }
}
