<app-menu-dialog (close)="onClose()">
  <form [formGroup]="dishForm" (submit)="onSubmit()">
    <mat-form-field color="accent">
      <mat-label>Dish name</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="Enter dish name"
      />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        type="text"
        placeholder="Enter description"
      />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Price</mat-label>
      <input
        matInput
        formControlName="price"
        type="number"
        placeholder="Enter price"
      />
    </mat-form-field>
    <button type="submit" mat-button>Confirm</button>
  </form>
</app-menu-dialog>
